<%= form_tag payment_path, id: 'payment-form', class: 'form-horizontal' do %>
  <div class="payment-errors">
    <div class="alert alert-error"></div>
  </div>
  <div class="control-group">
    <%= label_tag :card_number, nil, class: 'control-label' %>
    <div class="controls">
      <input type="text" size="20" autocomplete="off" class="card-number" id="card_number" />
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :expiration, "Expiration (MM/YY)", class: 'control-label' %>
    <div class="controls">
      <input type="text" size="2" id="card-expiry-month"/>
      <span> / </span>
      <input type="text" size="4" id="card-expiry-year"/>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :card_code, nil, class: 'control-label' %>
    <div class="controls">
      <input type="text" size="4" autocomplete="off" id="card_code"/>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Save Card", class: 'btn btn-primary submit-button' %>
    <%= link_to "Cancel", stashed_or(profile_path), class: 'btn' %>
  </div>
<% end %>
